
body{
    padding:0;
    margin:0;
}



@font-face {
    font-family: dokchamp;
    src: url(dokchamp.ttf);
}

.strip-container{
    overflow: hidden;
}


.strip{
    position: absolute;
    height:100%;
    width:100%;
    transition: 0.4s;
    overflow: hidden;
}
.strip:nth-child(1){
    background: url("../img/img1.png");
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0% 0%, 35% 0%, 30% 100%, 0% 100%);
    z-index:1;
}
.strip-container:hover .strip:nth-child(1){
    clip-path: polygon(0% 0%, 25% 0%, 20% 100%, 0% 100%);
}
.strip:nth-child(1):hover{
    clip-path: polygon(0% 0%, 55% 0%, 50% 100%, 0% 100%) !important;
}
.strip:nth-child(2){
    background: url("../img/img2.png");
    background-repeat: no-repeat;
    background-size: cover;
    /*clip-path: polygon(25% 0%, 80% 0%, 75% 100%, 20% 100%);*/
}
.strip:nth-child(3){
    background: url("../img/img3.png");
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(70% 0%, 100% 0%, 100% 100%, 65% 100%);
}
.strip-container:hover .strip:nth-child(3){
    clip-path: polygon(80% 0%, 100% 0%, 100% 100%, 75% 100%);
}
.strip:nth-child(3):hover{
    clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 45% 100%) !important;
}






.event-info{
    position: absolute;
    z-index:2;
    font-family: dokchamp;
    color:white;
    text-shadow: 0 0 2px #FFF;
    letter-spacing: -0.02em;
    margin:0;
    transform: translate(45vw, 75vh);
    pointer-events: none;
    display: none;
}
.event-info h1{
    font-size:3em;
}
.event-info h2{
    font-size:1.5em;
}
.event-info p{
    max-width: 400px;
}
.strip:hover .event-info{
    display: block;
}

/* położenie opisów */
.event-info#event-info-1st{
    transform: translate(10vw, 65vh) !important;
}
.event-info#event-info-2nd{
    transform: translate(30vw, 60vh) !important;
}
.event-info#event-info-3rd{
    transform: translate(60vw, 30vh) !important;
}

.event-info span{
    background-color: black;
    padding: 0em 0.2em;
}



#header-logo{
    position: absolute;
    top: 1em;
    left: 1em;
    z-index: 3;
    max-width: 400px;
}