body{
    background-color: #081f31;
    color: white;
}

.container-top{
    margin-top:100vh;
}

.panel-body{
    color: #666 !important;
}

#page-views{
    opacity: 1;
    transition: opacity 0.3s;
}

#page-views.ng-enter,
#page-views.ng-leave{ 
   opacity:0;
}