body{
    background-color: #0b1238;
    color: white;
    font-size: 15px;
}

.container-top{
    margin-top:100vh;
}

.panel-body{
    color: #666 !important;
}

#page-views{
    opacity: 1;
    transition: opacity 0.3s;
}

/* animacje przejścia */
#page-views.ng-enter,
#page-views.ng-leave{ 
   opacity:0;
}

/* elementy */
.description{
    margin: 2em auto;
    left: 0;
    right: 0;
    max-width: 800px;
}

.footer{
    padding: 2em 0 3em;
}

.partners{
    text-align: center;
    background-color: white;
    margin:0;
    width:100%;
    color: #0b1238;
}